{% extends "base.html" %}
  {% block content %}
  <!-- confirm -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Are you sure that you want to delete this Post?</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-3"></div>
          <div class="col-xs-9">
            <a class="btn btn-danger" href="/delete_post/{{post.get_id()}}">Delete Post</a>
            <a class="btn btn-default" href="/">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- post -->
  <article class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ post.title }}</h3>
    </div>
    <div class="panel-body">
      {{ post.content }}
    </div>

    <div class="panel-footer clearfix">
      <div class="row">
        <div class="col-md-2">
          <a class="btn btn-default" href="#comments">
            Comments <span class="badge">{{post.get_comments_count()}}</span>
          </a>
        </div>
        <div class="col-md-4">
          {% if user and user.get_id()!=post.author_id%}
            <a href="/like/{{post.get_id()}}" class="btn btn-default">
              Like
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              <span class="badge">{{post.like_count()}}</span>
            </a>
          {% else %}
            <button class="btn btn-default" disabled="disabled">
              <span class="badge">{{post.like_count()}}</span>
              Likes
            </button>

          {% endif %}
        </div>
      </div>
    </div>
  </article>

  <!--  comment section -->
  <div id="comments">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Comment section</h3>
        </div>
        <div class="panel-body">
          {% for c in post.get_comments() %}
          <div class="panel panel-default">
            <div class="panel-heading">User {{c.author_name}} Commented:</div>
            <div class="panel-body">{{c.content}}</div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
